{% extends 'html/header.html' %}
{% block title %}Cart{% endblock %}
{% block content %}
<div class="container-fluid" style="margin-top: 83px;">
	{% if user.extpro.is_farmer %}
		<div class="row">
		{% for k in it %}
		<tr>
			<div class="col col-md-3">
				<div class="card my-2">
					<img class="card-img-top" src="{{k.impf.url}}" alt="Card image" style="height:150px;width:100%">
					<div class="card-body">
					<h3>{{k.item_name}}</h3>
					<h6>Stock <span class="bg-success text-light border rounded border-danger p-1 mx-1">{{k.quantity}} Kgs</span>
				<div class="row mt-3">
					<div class="col">
						<a href="#" class="btn btn-info text-light col-sm"></a>
					</div>
					<div class="col">
						<a href="#" class="btn btn-success text-light col-sm">Rs.{{k.price}}</a>
					</div>
				</div>
				</div>
				</div>
			</div>
		</tr>
		{% endfor %}
		</div>
		{% else %}
		
{% endblock %}